{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>Title</title>
</head>
<body>
    <p>egyenlore otletem sincs mit csinaljak</p>
    <ul>
        <li>heroin</li>
        <li>kokain</li>
        <li>lsd</li>
        <li>herbal</li>
    </ul>
    

    <div class="wrapper">
        <header class="header">_fodor__</header>
        <article class="main">
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>  
        </article>
        <aside class="bal">
            <div class="vertical-menu">
                <a href="#" class="active">Home</a>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>
              </div>
        </aside>
        <aside class="jobb">Reklam</aside>
        <footer class="footer">Footer</footer>
    </div>
  
  
</body>
</html>